POSTGRES_DB=authentication
POSTGRES_USER=authentication_api
POSTGRES_PASSWORD=48bc9f5e017b861c403ea12a4a273ce95a7acdd72659b2c04e291a58c0836c65

POSTGRES_PORT=5432
API_PORT=8080

JWT_KEY=4d15dff18fa108b7abfce961f08d6366d02e79cd720ce2df3a7e2bbd865f94dc
JWT_ISSUER=AuthenticationAPI
JWT_AUDIENCE=AuthenticationAPIClient
JWT_ACCESS_TOKEN_MINUTES=15

DATABASE_APPLY_MIGRATIONS_ON_STARTUP=true
OPENAPI_ENABLED=true
HTTPS_REDIRECTION_ENABLED=false
