# Environment and secrets
.env
.env.*
.env.example

# Environment-specific ASP.NET configuration
**/appsettings.*.json
!**/appsettings.json

# Build results
**/bin/
**/obj/

# Visual Studio & Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

**/appsettings.Development.json

*.nupkg
packages/
*.snupkg

# Logs
*.log

# Database backups
*.db
*.bak
*.sqlserver
